---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$doc-font-size: 13px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (min-width: 1024px) {
  .no-sidebar.layout--single .page {
    float: none;
    width: 100%;
  }

  .has-sidebar.layout--single .page,
  .has-sidebar.layout--single .page__related {
    padding-inline-end: 0;
  }

  .has-sidebar.layout--single .sidebar.sticky .toc .toc__menu {
    overflow-y: auto;
    max-height: calc(100vh - 7em);
  }
}